.mat-dialog-button-group {
    justify-content: flex-end;
    
    button {
        text-transform: uppercase;
        font-weight: 500;
    }
}

.ngx-popup-card, .alerts-popup {
    margin: -1.7em;
}

